<button type="button" class="btn btn-primary" (click)="openAddDialog()">Add product</button>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Product</th>
    <th scope="col">Price</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngIf="products">
    <tr *ngFor="let product of products | async">
      <td>{{product.getName()}}</td>
      <td>{{product.getPrice() | currency:'RUB':'₽':'1.2-2'}}</td>
      <td>
        <button type="button" class="btn btn-success" (click)="openEditDialog(product)">Edit</button>
      </td>
      <td>
        <button type="button" class="btn btn-danger" (click)="openDeleteDialog(product)">Delete</button>
      </td>
    </tr>
  </ng-container>
  </tbody>
</table>
